*{
margin:0;
padding:0;
}
body{
background-image:url(Inicio.png);
background-attachment:fixed;
}
#tudomenu{
position:absolute;
width:100%;
height:5%;
background-image:url(Inicio.png);

}
#tudomenu2{
width:100%;
height:48%;
background-image:url(Textura.png);
background-attachment:fixed;
/*background:#876934;*/
}
#nav{
width:100%;
height:5%;
position:absolute;
margin-top:20%;
background:rgba(0,0,0,0.5);
}
ul{
position:absolute;
float:left;
margin-top:0.5%;
margin-left:28%;
}
li{
float:left;
margin-left:40px;
text-decoration:none;
list-style:none;
font-size:20px;
font-family: 'Nunito', sans-serif;
}
li a{
text-decoration:none;
list-style:none;
color:white;
}
li a:hover{
border-bottom:4px solid #755a2c;
color:#d59627;
}
#logo{
position:absolute;
width:300px;
height:300px;
margin-left:38%;
}
#face{
width:50px;
height:50px;
position:absolute;
margin-top:-15px;
margin-left:80%;
}
#face:hover{
background-image:url('Facebook.logo2.png');
}
#Inicio{
width:100%;
height:60%;
/*background:#462600;*/
}
#padeiro{
width:300px;
height:300px;
margin-top:4%;
margin-left:20%;
}
#BV{
position:absolute;
margin-top:9%;
}
#tel{
font-size:14px;
position:absolute;
margin-left:85%;
}
h4{
color:#b47223;
font-family: 'Nunito', sans-serif;
font-size:20px;
font-weight:bold;
}
h3{
color:white;
font-size:16px;
font-family: 'Nunito', sans-serif;
}
#Bemvindo{
width:100%;
height:40%;

margin-top:9%;
}
#Produtos{
width:100%;
height:140%;
margin-top:35%;
background-image:url(Textura2.png);
border-radius:0px 10px 0px 0px;
}
#EProdutos{
width:20%;
height:10%;
position:absolute;
margin-top:30%;
margin-left:40%;
background-image:url(Textura2.png);
border-radius:10px 10px 0px 0px;
}
h5{
color:white;
margin-top:10%;
margin-left:28%;
font-size:20px;
font-family: 'Nunito', sans-serif;
}
#frios{
width:30%;
height:60%;
border:4px solid #f9bb72;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:2%;
margin-left:5%;
}
legend{
color:white;
font-size:25px;
margin-left:2%;
font-family: 'Nunito', sans-serif;
}
#frios1{
width:40%;
height:40%;
border:1px solid white;
margin-left:6%;
position:absolute;
border-radius:10px 10px 10px 10px;
}#frios1:hover{
width:43%;
height:43%;
}#frios2{
width:40%;
height:40%;
border:1px solid white;
position:absolute;
margin-left:52%;
border-radius:10px 10px 10px 10px;

}#frios2:hover{
width:43%;
height:43%;
}
#frios3{
width:40%;
height:40%;
border:1px solid white;
position:absolute;
margin-left:52%;
margin-top:44%;
border-radius:10px 10px 10px 10px;

}#frios3:hover{
width:43%;
height:43%;
}#frios4{
width:40%;
height:40%;
border:1px solid white;
margin-left:6%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:44%;

}#frios4:hover{
width:43%;
height:43%;
}
#pães{
width:45%;
height:60%;
border:4px solid #f9bb72;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:2%;
margin-left:50%;
}
#pao1{
width:28%;
height:40%;
border:1px solid white;
margin-left:4%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;

}#pao1:hover{
width:31%;
height:43%;
}
#pao2{
width:28%;
height:40%;
border:1px solid white;
margin-left:69%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#pao2:hover{
width:31%;
height:43%;
}
#pao3{
width:28%;
height:40%;
border:1px solid white;
margin-left:37%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#pao3:hover{
width:31%;
height:43%;
}
#pao4{
width:28%;
height:40%;
border:1px solid white;
margin-left:37%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;

}#pao4:hover{
width:31%;
height:43%;
}#pao5{
width:28%;
height:40%;
border:1px solid white;
margin-left:4%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#pao5:hover{
width:31%;
height:43%;
}#pao6{
width:28%;
height:40%;
border:1px solid white;
margin-left:69%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;
}#pao6:hover{
width:31%;
height:43%;
}
#bolachas{
width:30%;
height:60%;
border:4px solid #f9bb72;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:35%;
margin-left:5%;
}#bolacha1{
width:40%;
height:40%;
border:1px solid white;
margin-left:6%;
position:absolute;
border-radius:10px 10px 10px 10px;
}#bolacha1:hover{
width:43%;
height:43%;
}
#bolacha2{
width:40%;
height:40%;
border:1px solid white;
margin-left:52%;
position:absolute;
border-radius:10px 10px 10px 10px;
}#bolacha2:hover{
width:43%;
height:43%;
}
#bolacha3{
width:40%;
height:40%;
border:1px solid white;
margin-left:6%;
position:absolute;
margin-top:44%;
border-radius:10px 10px 10px 10px;
}#bolacha3:hover{
width:43%;
height:43%;
}#bolacha4{
width:40%;
height:40%;
border:1px solid white;
margin-left:52%;
position:absolute;
margin-top:44%;
border-radius:10px 10px 10px 10px;
}#bolacha4:hover{
width:43%;
height:43%;
}#bebidas{
width:45%;
height:60%;
border:4px solid #f9bb72;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:35%;
margin-left:50%;
}#bebida1{
width:28%;
height:40%;
border:1px solid white;
margin-left:69%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#bebida1:hover{
width:31%;
height:43%;
}
#bebida2{
width:28%;
height:40%;
border:1px solid white;
margin-left:69%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;

}#bebida2:hover{
width:31%;
height:43%;
}#bebida3{
width:28%;
height:40%;
border:1px solid white;
margin-left:4%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;

}#bebida3:hover{
width:31%;
height:43%;
}#bebida4{
width:28%;
height:40%;
border:1px solid white;
margin-left:4%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#bebida4:hover{
width:31%;
height:43%;
}#bebida5{
width:28%;
height:40%;
border:1px solid white;
margin-left:37%;
border-radius:10px 10px 10px 10px;
position:absolute;
margin-top:30%;

}#bebida5:hover{
width:31%;
height:43%;
}#bebida6{
width:28%;
height:40%;
border:1px solid white;
margin-left:37%;
border-radius:10px 10px 10px 10px;
position:absolute;


}#bebida6:hover{
width:31%;
height:43%;
}
#Sobre{
width:100%;
height:100%;
margin-top:10%;
border-top:1px solid black;
}
#Esobre{
width:20%;
height:10%;
position:absolute;
margin-top:5%;
margin-left:40%;
background-image:url(Inicio.png);
border-radius:10px 10px 0px 0px;
}
#Texto{
width:40%;
height:65%;
background-color:rgba(0,0,0,0.5);
margin-top:5%;
border-radius:10px 10px 10px 10px;
margin-left:2%;
padding-left:10px;
padding-right:10px;
}
#sLogo{
width:700px;
height:700px;
position:absolute;
margin-top:-38%;
margin-left:45%;
}
#EContato{
width:20%;
height:10%;
position:absolute;
margin-top:5%;
margin-left:40%;
background-image:url(Textura2.png);
border-radius:10px 10px 0px 0px;
}#Contato{
width:100%;
height:100%;
background-image:url(Textura2.png);
margin-top:10%;
}
#form{
width:50%;
height:90%;
background: rgba(110,61,3, 0.5);
position:absolute;
border-radius:10px 10px 10px 10px ;
top:465%;
left:5%;

}
#l{
color:white;
font-size:1.6em;
font-family: 'Nunito', sans-serif;
margin-left:10%;
}
#nome{
width:80%;
height:5%;
margin-left:10%;
background:white;
opacity:0.5;
}
#email{
width:80%;
height:5%;
margin-left:10%;
background:white;
opacity:0.5;
}
#msg{
width:80%;
height:40%;
margin-left:10%;
background:white;
opacity:0.5;
}
#button1{
width:30%;
height:6%;
background:#4c2b04;
margin-left:35%;
color:white;
border-radius:10px 10px 10px 10px;
font-family: 'Nunito', sans-serif;
}
#button1:hover{
background:#aa5c00;
transition:2s;
}#rodape{
width:100%;
height:10%;
border-top:2px solid #8A4B08;
}
h2{
color:white;
font-size:12px;
margin-left:10px;
font-family: 'Nunito', sans-serif;
}
.seta {
width:40px; 
height:40px; 
position:fixed;
top:600px;
z-index:50;
right:10px;
display:none;
}
#mapa{
width:500px;
height:428px;
margin-left:60%;
position:absolute;
margin-top:10%;
background:rgba(75,41,0,0.5);
border-radius:10px 10px 10px 10px;
border:4px solid #4b2900;
}
#mapa2{
width:500px;
height:400px;
border-radius:10px 10px 10px 10px;
}